spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/augustana_hub
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
